<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/site.css">
    <title>login</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Login</h1>
            <form>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" required placeholder="Enter Your Email">
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" required placeholder="Enter Your Password">
                </div>

                <input type="submit" value="Login">


            </form>
            <div class="login">
                <span>Don't have account ?</span><br><br>
                <a href="sign up.html" class="login">Sign up</a>
            </div>


        </div>
    </div>
</body>
</html>